body {
	
	border:1px solid red;
}

.mainMessageDiv {
	
	margin-top: 250px;
	margin-left:200px;
	width:250px;
}

.verifyAccountDiv {
	
	margin-top:40px;
	margin-left:30%;
	width:100px;
	height:80px;
	background:blue;
	color:white;
}

.unsubscribe {
	
	float:bottom;
}